/* utf-8 */

::shadow button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 75px;
  font-size: 18px;
  width: auto;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  flex: 1 1 33%;
  align-self: stretch;
}

::shadow .wide {
  flex: 2 1 66%;
}

::shadow aside {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 25%;
  order: 2;
}

::shadow section {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 75%;
  order: 1;
}

::shadow aside button {
  flex: 0 0 100%;
  color: #bbb;
  background: #fff;
  border: 1px solid #d7d7d7;
}

::shadow .fade {
	color: #bbb;
	background: #fff;
	border: 1px solid #d7d7d7;
}

/* non shadow dom browsers (everybody except chrome) */

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 75px;
  font-size: 18px;
  width: auto;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  -webkit-flex: 1 1 33%;
}

.wide {
  flex: 2 1 66%;
}

aside {
	display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-flow: column wrap;
  -webkit-flex: 1 1 25%;
  -webkit-order: 2;
}

section {
	display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  -webkit-flex: 1 1 75%;
  -webkit-order: 1;
}

section button {
	-webkit-align-self: stretch;
}

.fade {
	color: #36b;
	background: #fff;
	border: 1px solid #d7d7d7;
}

.fade:active {
	outline: 3px solid #39f;
	z-index: 9;
}

aside button {
  -webkit-flex: 0 0 100%;
  -webkit-align-self: stretch;
  min-height: 60px;
  color: #36b;
  background: #fff;
  border: 1px solid #d7d7d7;
}

aside button:active {
	outline: 3px solid #39f;
	z-index: 9;
}

@media only screen 
	and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen 
	and (-webkit-min-device-pixel-ratio: 2) 
	and (orientation: portrait) {

		section {
			-webkit-flex: 0 1 100%;
			-webkit-order: 2;
			-webkit-flex-direction: vertical;
			-webkit-align-items: stretch;
		}

		aside {
			-webkit-flex-flow: row wrap;
			-webkit-flex: 0 5 100%;
			-webkit-order: 1;
			-webkit-align-items: stretch;
		}

		section button {
			-webkit-flex: 1 5 20%;
		}

		aside button {
			-webkit-flex: 1 5 20%;

		}

}
