/* utf-8 */

calculator-ui {
	position: relative;
  max-width: 640px;
  height: auto;
  margin: 15px auto;
  border: none;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-flex-flow: row;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-align-content: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@media only screen 
	and (-webkit-min-device-pixel-ratio: 2) {

		calculator-ui {
			max-width: none;
			margin: 0 auto;
		}

}

@media only screen 
	and (-webkit-min-device-pixel-ratio: 2) 
	and (orientation: portrait) {

		calculator-ui {
			width: 100%;
			max-width: 100%;
			margin: 0 auto;
			-webkit-flex-direction: column;
			font-size: 200%;
		}

}
