/* utf-8 */
body {
  font: 100%/100% "Roboto", helvetica, verdana, arial, helvetica, sans-serif;
  font-weight: 300;
  position: relative;
  text-align: left;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  font-weight: 300;
}

section, div, h1, p, header, footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 0 auto;
  background: #fefeff;
  color: #999;
  border-bottom: 1px solid #e7e7e7;
	display: -moz-flex;
	display: -webkit-flex;
  display: flex;
  -moz-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

header h1, 
header h2,
header p {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 15px 25px;
  text-align: center;
  -moz-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

footer {
  margin: 0 auto;
  background: #fefeff;
  color: #999;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e7e7e7;
}
